.header{
	text-align: center;
	}

.header img{
    width: 240px;
    height: 125px;
    margin: 0px;
	}

.grup{
    width: 330px;
    height: 110px;
    border: 0.5px solid;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    position:relative;
    margin-top: 10px;
    background-color: #dfdfdf;
	}
.imatge {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
        }
.imatge img{
    width: 150px;
    height: 90px;

	}
.footer{
    width: 350px;
    height: 150px;    
    margin: auto;
    text-align: center;
    position:relative;
    margin-top: 10px;
	}

.footer img{
    width: 250px;
    height: 120px;

	}