.header{
	text-align: center;
	}
body{
    background-color: #d5d5d5;
width: 100%;
    }
.container{
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;

    background-color: #ffffff;
    margin: 25px;
    border: 0.5px solid #a7a8a9;
    border-radius: 10px;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    }
.header img{
    width: 240px;
    height: 125px;
    margin: 0px;
    color:#4d5156;
	}
h3{
    color: rgb(55, 55, 55);    
}

a{
    color: rgb(55, 55, 55);  
    text-decoration: none;
  
}

.grup{
    max-width: 250px;
    height: 2em;
    border: 0.5px solid #a7a8a9;
    border-radius: 10px;

    text-align: center;
    position:relative;
    margin: 0 auto 15px;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #dfdfdf;

    border-bottom: 3px solid #a7a8a9;
    box-shadow: inset 0 -4px 0 #a7a8a9;
    border-radius: 25px;
    border: 2px solid #a7a8a9;
    
	}
.imatge {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
        }
.imatge img{
    width: 150px;
    height: 90px;

	}
.footer{
    width: 350px;
    height: 150px;    
    margin: auto;
    text-align: center;
    position:relative;
    margin-top: 10px;
	}

.footer img{
    width: 250px;
    height: 120px;

	}