.header{
	text-align: center;
	}
    
body{
    background-color: #d5d5d5;
    width: 100%;
    }

.imatge{
    width: 90%;
        max-width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

html body div.imatge img {
    height: auto;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    }
